
* {
  margin:0;
  padding:0;


  }
  
body{
background-color:white;
font-family: sans-serif;
}

.nav{

}

.img{

  width: 980px;
  height: 700px;
}



.section{
background-color:blue; 
width: 90%;
height:70%;
}


.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    width:500px;

  }
  
  span{
    color:white;
    margin:5px;
  }
  
  #uno {
    grid-column: 1 / 4; /* 1,2,3*/
    grid-row:1/2;
    font-size:40px;
  }
  
  #dos {
    grid-column: 2 / 3;
    grid-row:2/3;
    
  }
  
  #tres {
    grid-column: 3/4;
    grid-row:2/4;
    font-size:50px;
  }
  
  #cuatro {
    grid-column: 3/4;
    grid-row:4/5;
  }
  
  
.footer{
  background-color: sandybrown;
  width: 100%;
  height: 100px;
  margin-block: 3px;
  margin-top: 2%;
  
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  }