body{
  background-color:white;
  font-family: sans-serif;
  margin:4%;
  }

.nav{
  margin-bottom: 2%;
  padding-top: 20px;
  display:flex;
  justify-content:right;   
  
                                                                                 
  }

  nav a{
    display:flex
    justify-content
  }

  .section{
  background-image: url(img/cdmx\ imagen.jpg);
  }

.grid-container {
  display: grid;
  grid-template-columns: auto;
  
  padding: 5px;
  width:500px;
}

span{
  color:white;
  margin:5px;
}

#uno {
  grid-column: 1 / 4; /* 1,2,3*/
  grid-row:1/2;
  font-size:40px;
}

#dos {
  grid-column: 2 / 3;
  grid-row:2/3;

  
}

#tres {
  grid-column: 3/4;
  grid-row:2/4;
  font-size:50px;
}

#cuatro {
  grid-column: 3/4;
  grid-row:4/5;
 
}

.footer{
  background-color: white;
  
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center
}